* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
}

@media screen and (max-width: 950px) {
    .wrapper {
        grid-template-columns: 1fr !important;
        height: "90vh";
    }
    .games {
        padding-top: 125px !important;
    }

    .heo {
        grid-template-columns: 1fr !important;
    }
}
