* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
}

@media screen and (max-width: 900px) {
    .wrapper {
        grid-template-columns: 1fr !important;
        height: "90vh";
    }

    .heo {
        grid-template-columns: 1fr !important;
    }
}
